
  <%- include("../partials/admin-navbar") %> 

  <style>.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }</style>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="fw-light">WECOME TO <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-black font-weight-bold border px-3 mr-1">Men's</span>Fashion</h1>  ADMIN PAGE</h1>
          <p class="lead"></p>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      <h2 class="fw-light">Page Content</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis
        blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat
        reprehenderit expedita.</p>
    </div>
  </section>

